.rank-text-container{
	display: flex;
	flex-direction: column;
}
.mmr {
	font-size: 0.75rem;
}
.player-name{
	padding: 8px;
	text-align: center;
	font-size: 1.5rem
}

.shortcut {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.subtitle {
	font-size: 1.2rem;
	opacity: 0.8;
}
.offsetY {
	padding-top: 40vh;

}
.overshoot {
	background-color: #ed817f89 !important;
}

.victory {
	background-color: var(--color-victory);
}

.centered {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

.rank-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}

.rank-icon {
	width: 64px;
	height: 64px;
	object-fit: contain;
}

.player-container {
	display: flex;
	place-items: center;
	place-content: center;
	flex-grow: 1;
	margin-top: 24px;
	height: fit-content;
}

	.player {
	width: 100%;
	max-width: 35vw;
	min-width: 250px;
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	background: var(--player-bg, #f0f0f0);
	box-shadow: 3px 3px 0px 0px black;
}

.player:first-child {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.player:last-child {
	border-bottom-right-radius: 10px;
	border-top-right-radius: 10px;
}

.player:first-child:last-child {
	border-radius: 10px;
}

.rounds-container {
	max-height: 75vh;
	overflow-y: auto;
	scrollbar-width: none;
	border-bottom: 1px solid black;
}
.alternate-color {
	background-color: rgba(180, 204, 185, 0.25)
}
.player-name-container{
	text-align: center;
}
.round-grid {
	display: grid;
	grid-template-columns: 1.5rem 1fr 3rem;
	align-items: center;
}
.round-labels-container {
	text-align: center;
	border-bottom: 1px solid black;
	background-color: #B4CCB9;
	font-size: .7rem;
}
.border-right{
	border-right: 1px solid black;
}
.border-left{
	border-left: 1px solid black;
}
.throws-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.round-number {
	border-right: 1px solid black;
	font-size: .6rem;
	line-height: 1.75rem;
	text-align: center;
}
.cumulative-points-round {
	border-left: 1px solid black;
	font-size: 1rem;
	text-align: center;
}
.total-sum{
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: 1.5rem;
}